<div class="jumbotron">
  <h1>
  	<%= @post.title %>
  	<small class="float-right"><%= link_to 'Edit' , edit_post_path, :class=> "btn btn-primary"%></small>
  	<br>
	</h1>
	<div id="post_likes">
		<%= render "likes/likes", likeable: @post %>
	</div>
	
  <p><%= @post.text %></p>
</div>

<h2>Comments(<%= @post.comments.count %>):</h2>
	<div id="commentContainer">
	  <%= render @post.comments %>
	</div>
	<div id="commentForm">
		<%= render 'comments/form' %>
	</div>

<div class="offset-md-5">
	<%#= link_to 'Edit' , edit_post_path, :class=> "btn btn-outline-danger"%>
	<%= link_to 'Back' , posts_path, :class=> "btn btn-warning"%>
</div>

<p id="notice"><%= notice %></p>