<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <ul style="margin-bottom:29px;height: 25px;">
          <a href=" /posts" class="navbar-brand">Posts</a>
          <a href="/friendships" class="navbar-brand">All Users</a>
          <a href="/" class="navbar-brand">Conversations</a>
      </ul>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link, btn btn-outline-success' %> 
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link, btn btn-outline-info'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link, btn btn-outline-info btn-rounded mb-4'%>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link, btn btn-outline-info btn-rounded mb-4'  %>
          <!-- <a href="/users/sign_in" class="btn btn-outline-info btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm" style="margin-top: 25px;">Login</a> -->
        <% end %>
      </p>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

